body {
	padding-left: 16px;
	padding-right: 16px;
}

h1 {
	font-size: 32px;
	letter-spacing: 2px;
	word-spacing: 8px;
}

h3	{
	font-size: 24px;
}

p {
	font-size: 18px;
}

#content-details {
	line-height: 1.5;
	text-indent: 25px;
}

#button-contact {
	font-size: 18px;
	border: 1px solid #d6d9fc;
	color: #4032c8;
	/*background: #533afd;*/
	background: white;
	display: inline-block;
	padding-inline: 8px;
	border-radius: 4px;
	height: 44px;
	transition: border-color .3s;
}

#button-contact:hover {
	border: 1px solid #4032c8;
}